.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);  
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
    margin-left: 8rem; 
}

.card {
    max-width: 50%;  // Set desired maximum width
    width: 90%;        // Responsive width within the max-width
    max-height: 80vh;  // Set desired maximum height
    overflow-y: auto; 

    .inputs {
        margin: 0.5rem 0rem;
    }

    .button-container {
        display: flex;
        margin-right: 0;

        .save-button {
            margin-left: auto;
            margin-right: 0;
        }
    }
}
