<div class="overlay" (click)="close.emit()">
    <div class="card" (click)="$event.stopPropagation()">
        <p-panel [toggleable]="false">
            <p-inputGroup class="inputs">
                <p-inputGroupAddon>
                    <i class="pi pi-user"></i>
                </p-inputGroupAddon>
                <input pInputText placeholder="Profile Picture Url" />
            </p-inputGroup>
            <p-inputGroup class="inputs">
                <input type="text" pInputText placeholder="First Name" />
                <input type="text" pInputText placeholder="Last Name" />
            </p-inputGroup>
            <div class="button-container">
                <p-button label="Save" severity="secondary" class="save-button"/>
            </div>
        </p-panel>
    </div>
</div>