<p-table class="contact-info" [value]="contactDetails.length > 0 ? contactDetails : [{}]">
    <ng-template pTemplate="header">
        <tr *ngFor="let contactItem of contactDetails">
            <td>{{ contactItem.type }}</td>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-contact let-i="rowIndex">
        <tr>
            <td *ngIf="contactDetails.length > 0">
                <p-inputGroup>
                    <input id="disabled-input" type="text" pInputText [disabled]="(contact.isDisabled$ | async) ?? true"
                        [(ngModel)]="contact.value" />

                    <button *ngIf="(contact.isDisabled$ | async)" type="button" pButton icon="pi pi-pencil"
                        severity="secondary" (click)="updateAddress(i)">
                    </button>

                    <button *ngIf="!(contact.isDisabled$ | async)" type="button" pButton icon="pi pi-check"
                        severity="secondary" (click)="saveAddress(i)">
                    </button>
                </p-inputGroup>
            </td>

            <td *ngIf="contactDetails.length === 0">
                <div>
                    <input id="street-input" type="text" pInputText
                        [placeholder]="contact.placeholder[0] || 'Placeholder'" />
                </div>
                <div style="margin-top: 10px;">
                    <input id="location-input" type="text" pInputText
                        [placeholder]="contact.placeholder[1] || 'Placeholder'" />
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>