<div class="card flex justify-content-center">
    <p-card [header]="header" class="card">
        <ng-template pTemplate="header">
            <div class="header">
                <div class="image-container">
                    <img alt="Profile Picture"
                        src="https://lumiere-a.akamaihd.net/v1/images/a_avatarpandorapedia_jakesully_16x9_1098_02_b13c4171.jpeg?region=340%2C0%2C1081%2C1081"
                        class="header-image" />
                    <div class="overlay">
                        <i class="pi pi-pencil edit-icon"></i>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template class="body">

        </ng-template>
        <div class="table-grid">
            <div class="table-item">
                <p-table class="contact-info" [value]="address.length > 0 ? address : [{}]">
                    <ng-template pTemplate="header">
                        <tr>
                            <td>Address</td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-contact let-i="rowIndex">
                        <tr>
                            <td *ngIf="address.length > 0">
                                <p-inputGroup>
                                    <!-- Bind disabled to the specific contact's isDisabled property -->
                                    <input id="disabled-input" type="text" pInputText [disabled]="contact.isDisabled"
                                        [(ngModel)]="contact.value" />

                                    <!-- Show the pencil button when the field is disabled -->
                                    <button *ngIf="(contact.isDisabled$ | async)" type="button" pButton
                                        icon="pi pi-pencil" severity="secondary" (click)="updateAddress(i)">
                                    </button>

                                    <!-- Check button (shown when the field is enabled) -->
                                    <button *ngIf="!(contact.isDisabled$ | async)" type="button" pButton
                                        icon="pi pi-check" severity="secondary" (click)="saveAddress(i)">
                                    </button>

                                </p-inputGroup>
                            </td>
                            <td *ngIf="address.length === 0">
                                <div>
                                    <input id="street-input" type="text" pInputText placeholder="Example Str 105" />
                                </div>
                                <div style="margin-top: 10px;">
                                    <input id="location-input" type="text" pInputText placeholder="City, Country" />
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
                <div class="button-container">
                    <p-button *ngIf="address.length === 0" icon="pi pi-plus" [rounded]="true" [text]="true"
                        severity="secondary" [disabled]="address.length !== 0" />
                </div>
            </div>

            <div class="table-item">
                <app-contact-table [contactDetails]="phoneDetails" [headerTitle]="'Phone Number'" [isDisabled]="isDisabled"></app-contact-table>
            </div>
            <div class="table-item">
                <app-contact-table [contactDetails]="contactDetails" [headerTitle]="'Email'" [isDisabled]="isDisabled"></app-contact-table>
            </div>
            <div class="table-item">
                <app-contact-table [contactDetails]="contactDetails" [headerTitle]="'Fax'" [isDisabled]="isDisabled"></app-contact-table>
            </div>

        </div>

        <ng-template pTemplate="footer">
            <div class="flex gap-3 mt-1">
                <p-button label="Update" severity="secondary" class="w-full" styleClass="w-full" />
                <p-button label="Save" class="w-full" styleClass="w-full" />
            </div>
        </ng-template>
    </p-card>
</div>