<div class="card flex justify-content-center">
    <p-card [header]="header" [subheader]="subheader" class="card">
        <ng-template pTemplate="header">
            <div class="header">
                <div class="image-container">
                    <img alt="Profile Picture"
                        src="https://lumiere-a.akamaihd.net/v1/images/a_avatarpandorapedia_jakesully_16x9_1098_02_b13c4171.jpeg?region=340%2C0%2C1081%2C1081"
                        class="header-image" />
                    <!-- Overlay with an edit icon -->
                    <div class="overlay">
                        <i class="pi pi-pencil edit-icon"></i> <!-- PrimeNG Edit Icon -->
                    </div>
                </div>
            </div>
        </ng-template>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae
            numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse,
            cupiditate neque
            quas!
        </p>
        <ng-template pTemplate="footer">
            <div class="flex gap-3 mt-1">
                <p-button label="Cancel" severity="secondary" class="w-full" styleClass="w-full" />
                <p-button label="Save" class="w-full" styleClass="w-full" />
            </div>
        </ng-template>
    </p-card>
</div>