:host {
 ::ng-deep .p-sidebar-left {
    width: 15rem; 

    .sidebar-content {
        flex-grow: 1; // Take up the remaining space
        overflow: auto; // Ensure content scrolls if it overflows
      }

    .sidebar-footer {
        flex-shrink: 0; // This prevents the footer (button) from shrinking
        padding: 1rem;
        bottom: 0;
        position: fixed;
        margin-bottom: 2rem;
      }

  }

 ::ng-deep .p-button.p-button-icon-only {
    width: 2rem;
    padding: 0.5rem 0;
  }

  ::ng-deep .p-tree {
    border: 0;
    padding: 0;

    .p-tree-toggler {
        width: 1rem;
    }
  }
}
  