<p-sidebar [(visible)]="sidebarVisible" [showCloseIcon]="false" [dismissible]="false">
  <div class="custom-sidebar-header">
    <h3 class="sidebar-title">Address Book</h3>
  </div>
    <div class="sidebar-content">
        <div class="card flex justify-content-center">
            <p-tree class="w-full md:w-30rem" [value]="files"></p-tree>
        </div>
    </div>

    <div class="sidebar-footer">
        <div class="card">
            <p-button label="Add Contact" icon="pi pi-plus"></p-button>
            <p-button label="Log out" [text]="true" severity="secondary" (click)="logout()"/>
        </div>
    </div>
</p-sidebar>